.btn {
  background-image: linear-gradient(
    to right,
    #77a1d3 0%,
    #79cbca 51%,
    #77a1d3 100%
  );
  padding: 0.5em 1em;
  text-align: center;
  text-transform: capitalize;
  transition: 0.5s;
  font-weight: 600;
  background-size: 200% auto;
  color: white;
  width: 100px;
  border-radius: 0.5rem;
  display: inline-block;
}

.btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.social__arrow {
  width: 2rem;
  height: 2rem;
}

.section {
  margin-top: 1.5rem;
}
